@import "./_fonts";
@import "./reset";
@import "./variables";

body {
  height: 100vh;
  min-height: 100vh;
  font-size: $font-normal;
  background: $bg-fore;
}

* {
  overscroll-behavior: none;
  line-height: 1.24 !important;
}

#root {
  height: 100%;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  color: $col-br;
  overflow: hidden;
  font-family: $sansbold;
  position: relative;
  flex-direction: row;
  div {
    display: flex;
  }

  .sidebar_container {
    width: 11vw;
    height: 100%;
    align-items: center;
    flex-direction: column;
    padding-top: $padding-top;
    border-right: 1px solid #ddd;
    .sidebar_header {
      font-size: 16px;
      font-weight: bold;
      padding: 10px 0px;
      text-transform: uppercase;
    }
    .color_palette {
      flex: 1;
      width: 100%;
      align-items: center;
      flex-direction: column;
      padding-top: 50px;

      .colors_trigger {
        width: 50px;
        height: 50px;
        color: #fff;
        display: flex;
        font-size: 20px;
        margin: 8px 0px 20px;
        border-radius: 100%;
        background: #000;
        align-items: center;
        justify-content: center;
      }

      .color_cover {
        width: 30px;
        height: 30px;
        padding: 2px;
        cursor: pointer;
        margin: 18px 0px;
        overflow: hidden;
        border-radius: 100%;

        .color_item {
          width: 100%;
          height: 100%;
          border-radius: 100%;
        }

        &.active {
          background: #888;
        }
      }
    }
  }

  .mainpage_container {
    flex: 1;
    height: 100%;
    flex-direction: column;
    padding: $padding-top 48px 0px;
    border-right: 1px solid #ddd;
    .notes_input {
      font-size: 18px;
      align-items: center;
      flex-direction: row;
      // border-bottom: 1px solid #ddd;

      .notes_icon {
        color: #a1a1a1;
        margin-right: 20px;
        padding-bottom: 3px;
      }
      input {
        width: 400px;
        font-size: 16px;
        padding: 8px 0px 10px;
      }
      button {
        font-size: 12px;
        color: #fff;
        cursor: pointer;
        padding: 5px 10px;
        border-radius: 4px;
        background: #000;
      }
    }
    .mainpage_content {
      padding-top: 64px;
      flex-direction: column;
      .mainpage_header {
        font-size: 16px;
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 18px;
        text-transform: uppercase;
      }
      .notes_list {
        flex-wrap: wrap;
        flex-direction: row;
        padding-top: 30px;
        .note_item {
          width: 300px;
          height: 300px;
          padding: 10px;
          border-radius: 12px;
          background: #ffcf7d;
        }
      }
    }
  }
}
